* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #24a066;
}


ul {
    float: right;
    background-color: #247BA0;
    list-style-type: none;
    margin: 0;
    padding: 10px 30px 50px 70px;
    margin: 20px 40px 80px 100px;

}



li {
    float: left;
}

li a {
    display: block;
    color: #1426e7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #cc1616;
    height: 22px;
    color: #02131b;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #094074;
    color: white;
}

.footer {
    background-color: #89aab3;
    padding: 0.5em;
    text-align: right;
}

#btn { 
    background-color: #cc1616;
    color: #02131b
}


    th:hover {
        background-color: black;
    }
    tr:nth-child(even){
        background-color: blue;
    }
    tr:nth-child(odd){
        background-color: #24a066;
    }

    #foto1  {
        width: 200px;
        height: 200px;
        margin-left: 50px;
        margin-top:  60px;
    }

    #header  {
        margin-left: 300px;
        margin-top: 200px;
    }

    